node_modules/
dist/
.cache-lsj/
.cache-corpus/
.cache-src/
*.log
.DS_Store
.vercel
.qa-tools/
qa-report/
DEPLOY_URL.txt
.cache-trans/
.tmp-review
public/espeak-ng.wasm
public/espeak-ng.wasm.br
public/espeak-ng.wasm.gz
